@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

/*text-decoration: none;
font-family: 'Raleway', sans-serif;
font-weight: 600;
font-size: 1em;*/

.container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Raleway', sans-serif;
}

.title {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0;
}

.subtitle {
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 0;
  padding-top: 4px;
  color: #3498db;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  max-width: 40%;
}

.row {
  display: flex;
  flex-direction: row;
}

.section {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.item-title a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  color: #3498db;
}

.item-title a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.footer-button-container {
  font-size: 1.4em;
  padding: 0vw 2vw 1vw;
  text-align: center;
}

.footer-button-container > a {
  color: #a9a9a9;
  text-decoration: none;
  margin: 0 8px;
}

.footer-button-container > a:hover {
  color: #3498db;
  text-decoration: underline;
}
